/*index: Fabricio Zelaya*/





/*Acerca de nosotros: Fredo*/




/*Nuestros programas: BoJack*/




/*Galeria de fotos: Stefanny*/




/*Contáctenos: Matute*/




/*Preguntas frecuentes: Melissa*/
/*CONTENEDOR FAQ*/
.faq{
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
}

/*CADA ITEM*/
.faq-item{
    background: white;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0;
    border: 1px solid #dcdcdc;
    overflow: hidden;
}

/*CHECKBOX OCULTO*/
.toggle{
    display: none;
}

/*PREGUNTAS DISEÑO*/
.faq-question{
    display: block;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    background: #ffff;
    transition: background 0.3s;
    font-weight: bold;
}

/*EFECTO HOVER PREGUNTAS*/
.faq-question:hover{
    background: #f1f7ff;
}

/*FLECHITA*/
.faq-question::after{
    content: "▼";
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 18px;
    transition: transform 0.3s;
}

/*ROTACIÓN FLECHITA*/
.toggle:checked + .faq-question::after{
    transform: rotate(180deg);
}

/*RESPUESTAS (ESCONDIDAS POR DEFECTO)*/
.faq-answer{
    max-height: 0;
    overflow: hidden;
    background: #fafafa;
    transition: max-height 0.3s ease;
    padding: 0 15px;
}

/*EXPANSIÓN DE DOMINIO (CHECKBOX ACTIVO)*/
.toggle:checked ~ .faq-answer{
    max-height: 300px;
    padding: 15px;
}

/*TEXTO PREGUNTAS*/
.faq-answer p{
    margin: 0;
}

/*Porque Opv Drywall: Matute*/




/*Testimonios: Melissa*/
/*CONTENEDOR PRINCIPAL 2X2*/
.contenedor{
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/*TARJETA DE TESTIMONIOS*/
.tarjeta{
    background: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

/*FOTO DEL CLIENTE*/
.tarjeta img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

/*OPINION TESTIMONIO*/
.info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.info p {
    margin-top: 5px;
    line-height: 1.4;
    color: #555;
}

/*RESPONSIVO (CELULAR)*/
@media (max-width: 700px){
    .contenedor{
        grid-template-columns: 1fr;
    }
}


/*Terminos y condiciones: Fredo*/



/*Formulario de registro: BoJack*/